<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title> Vuejs Basic </title>
  </head>
  <body>
    <div id="app">
      <h5 v-if="status">{{ titulo }}</h5>
      <div v-if="usuario.id == 1">
        Nome: {{usuario.nome}}<br>
        Id: {{usuario.id}}
      </div>
      <ul>
        <li v-for='item in linguagens'>
          {{ item.nome}}
        </li>
      </ul>
    </div>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          status: false,
          titulo: 'Josafá Martins',
          usuario: {
            id: 1,
            nome: 'josafams'
          },
          linguagens: [
            { nome: 'Javascript'},
            { nome: 'Php'}
          ]
        }
      });
    </script>
    
  </body>
</html>
