<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title> Vuejs Basic </title>
    <meta charset="UTF-8">
  </head>
  <body>
    <div id="app">
      <h5 v-if="status">{{ titulo }}</h5>
      <div v-if="usuario.id == 1">
        Nome: {{usuario.nome}}<br>
        Id: {{usuario.id}}
      </div>
      <ul>
        <li v-for='item in linguagens'>
          {{ item.nome}}
        </li>
      </ul>

      <div>
        <input type="text" name="" id="" v-model='descricao'>
        {{ descricao}}
      </div>

      <br>
      <input type="checkbox" name="teste" value="php" v-model='favoritas_linguagens'>php </input>
      <input type="checkbox" name="teste" value="java" v-model='favoritas_linguagens'>java </input>
      <input type="checkbox" name="teste" value="javascript" v-model='favoritas_linguagens'>Javascript </input>

      <hr>
      {{favoritas_linguagens}}

      <div>
        <image v-bind:src='imagem'>  
      </div>
    </div>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          descricao: '',
          imagem: 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/1200px-Vue.js_Logo_2.svg.png',
          status: false,
          titulo: 'Josafá Martins',
          usuario: {
            id: 1,
            nome: 'josafams'
          },
          linguagens: [
            { nome: 'Javascript'},
            { nome: 'Php'}
          ],
          favoritas_linguagens: []
        }
      });
    </script>
    
  </body>
</html>
